{% extends "tool/base_tool.html" %}
{% load static %}

{% block head_title %}商品编码补齐{% endblock %}
{% block metas %}
<meta name="description" content="商品编码补齐">
<meta name="keywords" content="商品编码补齐">
{% endblock %}

{% block tool_name %}商品编码补齐{% endblock %}
{% block left_content %}
<div class="mb-3">
    <div class="form-group">
        <label>输入商品编码：</label>
        <input type="url" class="form-control rounded-0" id="name" placeholder="例：121347746" required>
        <small class="form-text text-muted">注：自动将商品编码补齐为18位</small>
    </div>
    <button type="button" class="btn btn-info btn-sm rounded-0" id='commdty_code' onclick="fun()">点击补齐</button>
</div>
<div class="card mb-0 rounded-0">
    <div class="card-header text-center text-info font-weight-bold py-2">结果</div>
    <div class="card-body table-responsive push-result text-center p-2">
        <div id="myDiv">结果显示区</div>
    </div>
</div>
<script>
    function fun() {
        var res = document.getElementById("name").value
        const commdty_code = res.padStart('18', 0)
        document.getElementById("myDiv").innerHTML = commdty_code;
    }

</script>
{% endblock %}

{% block end_f %}

{% endblock %}