{% extends "tool/base_tool.html" %}
{% load static %}

{% block head_title %}获取天气{% endblock %}
{% block metas %}
<meta name="description" content="获取天气">
<meta name="keywords" content="获取天气">
{% endblock %}

{% block tool_name %}获取天气{% endblock %}
{% block left_content %}

<div>
    <iframe scrolling="no"
        src="https://tianqiapi.com/api.php?style=tk&skin=peach&align=right&paddingtop=5&paddingleft=5&fontsize=300"
        frameborder="0" width="260" height="195" allowtransparency="true"></iframe><br>
</div>
{% endblock %}

{% block end_f %}

{% endblock %}