{% extends "tool/base_tool.html" %}
{% load static %}

{% block head_title %}计算分表{% endblock %}
{% block metas %}
<meta name="description" content="常用链接">
<meta name="keywords" content="常用链接">
{% endblock %}

{% block tool_name %}常用链接{% endblock %}
{% block left_content %}

<table class="table">
    <thead>
        <tr>
            <th>
                <h3 style="text-align: center"><strong>名称</strong></h3>
            </th>
            <th>
                <h3 style="text-align: center"><strong>链接</strong< /h3>
            </th>
        </tr>
    </thead>
    {% for linkage in linkages %}
    <tbody>
        <tr>
            <td>
                <h5 style="text-align: center">{{ linkage.name }}</h5>
            </td>
            <td><a href="{{ linkage.link }}" target="_blank">{{ linkage.link }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block end_f %}

{% endblock %}