{% extends "tool/base_tool.html" %}
{% load static %}

{% block head_title %}计算分表{% endblock %}
{% block metas %}
<meta name="description" content="常用链接">
<meta name="keywords" content="常用链接">
{% endblock %}

{% block tool_name %}常用链接{% endblock %}
{% block left_content %}

<table class="table">
    <thead>
    <tr>
        <th><h3 style="text-align: center"><strong>名称</strong></h3></th>
        <th><h3 style="text-align: center"><strong>链接</strong</h3></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><h5 style="text-align: center">百度</h5></td>
        <td><a href="http://www.baidu.com" target="_blank">http://www.baidu.com</a></td>
    </tr>
    <tr>
        <td><h5 style="text-align: center">百度</h5></td>
        <td><a href="http://www.baidu.com" target="_blank">http://www.baidu.com</a></td>
    </tr>
    </tbody>
</table>
{% endblock %}

{% block end_f %}

{% endblock %}