{% extends "tool/base_tool.html" %}
{% load static %}

{% block head_title %}计算分表{% endblock %}
{% block metas %}
<meta name="description" content="计算分表">
<meta name="keywords" content="计算分表">
{% endblock %}

{% block tool_name %}计算分表{% endblock %}
{% block left_content %}
<div class="mb-3">
    <div class="form-group">
        <label>输入会员编码：</label>
        <input class="form-control rounded-0" id="name"
               placeholder="例：7018376435"
               required>
        <small class="form-text text-muted">注：会员编码%64</small>
    </div>
    <button type="button" class="btn btn-info btn-sm rounded-0" onclick="fun()">开始计算</button>
</div>
<div class="card mb-0 rounded-0">
    <div class="card-header text-center text-info font-weight-bold py-2">结果</div>
    <div class="card-body table-responsive push-result text-center p-2">
        <div id="myDiv">结果显示区</div>
    </div>
</div>
<script>
function fun() {
    var res = document.getElementById("name")
    var sub_table = res.value % 64
    document.getElementById("myDiv").innerHTML= sub_table;
}


</script>
{% endblock %}

{% block end_f %}

{% endblock %}