asgiref==3.6.0
async-timeout==4.0.2
beautifulsoup4==4.12.2
certifi==2022.12.7
chardet==3.0.4
Django==3.0.8
django-crontab==0.7.1
django-ranged-response==0.2.0
django-redis==5.2.0
django-simple-captcha==0.5.13
idna==2.10
Markdown==3.2.2
Pillow==9.5.0
PyMySQL==1.0.2
pytz==2023.3
redis==4.5.4
requests==2.24.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
urllib3==1.25.11
