{% load static %}
<nav class="navbar navbar-expand-md bg-white fixed-top blog-navbar py-md-0">
    <a class="navbar-brand d-md-none d-lg-block" id="site-logo-name" href="/">
        <strong class="px-2">yycode</strong>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item mr-2">
                {% url 'blog:index' as index_url %}
                <a class="nav-link py-md-3 {% if request.path == index_url %}active{% endif %}"
                   href="{{ index_url }}"><i class="fa fa-home mr-1"></i>首页<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item mr-2">
                {% url 'tool:total' as tool_url %}
                <a class="nav-link py-md-3 {% if request.resolver_match.namespace == 'tool' %}active{% endif %}"
                   href="{{ tool_url }}"><i class="fa fa-wrench mr-1"></i>小工具</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            {% if request.session.is_login %}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    welcome : {{ request.session.user_name }}
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#"><i class="fa fa-commenting mr-1"></i>消息</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="/logout"><i class="fa fa-sign-out mr-1"></i>退出</a>
                    </li>
                </ul>
            </div>
            {% else %}
            <li class="nav-item mr-2">
                <a class="nav-link py-md-3" href="/login">登录</a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link py-md-3" href="/register">注册</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
